{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Booking</h1>
     <div class="list-group">
        {% for category in categories %}
            <a href="{% url 'category' pk=category.pk %}" class="list-group-item">{{ category.title }}</a>
        {% endfor %}
    <br>
    <form action=""  method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}